*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
    background-color: rgba(245, 245, 245, 0.589);
}
/*date&time started*/
.datetime
{
    background-color: #3fbbc0;
    height: 40px;
    width: 100%;
    display: flex;
}
.datetime p
{
    color: white;
    font-size: 17px;
    margin-top: 7px;
    font-weight: 600;
}
.datetime .pg1
{
    margin: 7px 770px 0px 90px;
}
/*date7time ended*/
/*navigation started*/
nav
{ 
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
.nav
{
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
.nav .logo,.nav .logocontent,.nav
{
    display: flex;
}
.nav .logo img
{
    height: 40px;
    width: 40px;
    margin-left: -45px;
}
.nav .logo h2
{
    color: rgba(0, 0, 0, 0.822);
}
.nav .logo h2,.nav .logocontent a
{
    font-weight: 700;
}
.nav .logo h2,.nav .btn
{
    padding-top: 4px;
}
.nav a
{
    text-decoration: none;
}
.nav .logocontent a
{
    font-size: 13px;
    margin-left: 30px;
    transition: 0.4s;
    color: rgb(95, 94, 94);
}
.nav .btn
{
    background-color: #3fbbc0;
    height: 35px;
    width: 200px;
    border-radius: 4px;
    color: white;
    text-align: center;
    margin-right: -25px;
}
.nav .logocontent
{
    margin-right: -240px;
}
.nav .logocontent a:hover
{
    color: #3fbbc0;
}
.nav .btn:hover
{
    background-color: #3fbcc0e3;
}
/*navigation ended*/
/*bannere started*/
.banner
{
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 605px;
    margin-bottom: 50px;
    position: relative;
}
.banner .next i,.banner .previous i
{
    background: rgba(100, 196, 199, 0.404);
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    font-size: 54px;
    height: 50px;
    width: 54px;
    border-radius: 30px;
}
.banner .previous i
{
    margin: 220px 1350px 0px 10px;
}
.banner .banner-child
{
    width: 89%;
    height: 250px;
    background-color: white;
    border-top: 4px solid #3fbbc0;
    text-align: center;
    margin: 30px 80px 40px 80px;
    position: absolute;
}
.banner-child h1
{
    color: #2f2f2f;
    margin: 20px 0px;
    font-size: 36px;
    font-weight: 700;
}
.banner-child p
{
    font-size: 17px;
    color: gray;
    margin: 0px 20px 50px 50px;
}
.banner-child a 
{
    background-color: #3fbbc0;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 30px;
    color: white;
}
.banner .previous i:hover,.banner .next i:hover
{
    background-color: #3fbbc0;
    color: white;
}
.banner-child a:hover
{
    background-color: #3fbbc0d0;
} 
/*banner started*/
/*emergency started*/
.emergency
{
    width: 100%;
    height: 600px;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}
.solution
{
    display: flex;
    justify-content: center; 
    justify-content: space-between;
    margin: 40px 100px;
}
.sol-child
{
    height: 230px;
    width: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    background-position: top ;
    transition: all 0.5s ease-out;
    background: linear-gradient(to top, #3fbbc0 50%, #fff 50%);
    background-size: 100% 200%;
}
.sol-child i
{
    font-size: 48px;
    color: #3fbbc0;
}
.sol-child p
{
    font-size: 15px;
    color: gray;
}
.sol-child h3
{
    margin: 20px 0px;
}
.sol-child:hover
{
    background-color: #3fbbc0;
    background-position: bottom;
}
.sol-child:hover  h3,.sol-child:hover  p,.sol-child:hover  i
{
    color: white;
}
.help
{
    background-color: #3fbcc0;
    text-align: center;
    height: 270px;
}
.help h1,.help p,.help a
{
    color: white;
    text-decoration: none;
}
.help h1
{
    margin: 40px 0px 20px 0px;
}
.help p
{
    margin: 0px 100px 30px 100px;
    font-size: 17px;
}
.help a
{
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 35px;
    transition: all 0.5s;
}
.help a:hover
{
    color: #3fbbc0;
    background-color: white;
}
/*emergency ende*/
/*aboutus started*/
.aboutus
{
    background-color: rgb(247, 247, 247);
    text-align: center;
}
.aboutus h1
{
    margin: 50px 0px 15px 0px;
}
.aboutus hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 0px 0px 15px 720px;
}
.aboutus p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.aboutus-child
{
    display: flex;
    margin: 0px 100px;
}
.aboutus-child img
{
    width: 630px;
    height: 490px;
}
.aboutus-child .content
{
    margin-left: 25px;
}
.aboutus-child .content h1
{
    text-align: left;
    margin: 0px;
    font-weight: 700;
    font-size: 25px;
}
.aboutus-child .content p
{
    margin: 0px;
    text-align: left;
}
.aboutus-child .content .fa-check-circle
{
    font-size: 20px;
    font-weight: 400;
    color: #3fbbc0;
}
/*aboutus ended*/
/*aboutus 2 started*/
.aboutus2
{
    margin: 100px;
}
.aboutus2-child,.aboutus2-left,.aboutus2-list
{
    display: flex;
}
.aboutus2-box
{
    height: 210px;
    width: 300px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    transition: all 0.5s; 
    margin-right: 26px;
}
.aboutus2-box h1
{
    font-size: 45px;
    margin-top: -20px;
}
.aboutus2-box i
{
    color: #3fbbc0;
    font-size: 30px;
}
.aboutus2-box p
{
    color: gray;
    margin: 17px 0px;
}
.aboutus2-box a
{
    text-decoration: none;
    font-weight: 700;
    color: gray;
}
.aboutus2-list
{
    margin-top: 100px;
}
.aboutus2-icon
{
    width: 60px;
}
.aboutus2-icon i
{
    font-size: 40px;
    margin-bottom: 65px;
    color: #3fbbc0;
}
.aboutus2-content
{
    width: 580px;
}
.aboutus2-content p
{
    margin-bottom: 45px;
    color: gray;
}
.aboutus2-content h2
{
    font-weight: 700;
    font-size: 20px;
}
.aboutus2-list img
{
    height: 400px;
    width: 640px;
}
.aboutus2 a:hover
{
    color: #3fbbc0;
}
/*aboutus 2 ended*/
/*services started*/
.services
{
text-align: center;
}
.services hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 15px 720px;
}
.services p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.services-child
{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 100px;
    justify-content: space-between;
}
.services-box
{
    width: 400px;
    height: 250px;
}
.services-box h3
{
    margin: 20px 0px;
}
.services-box hr
{
    margin-left: 175px;
    margin-bottom: 20px;
}
.services-box i
{
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 100%;
    font-size: 36px;
    color: #3fbbc0;
    padding: 25px 25px 25px 20px;
}
.services-box p
{
    font-size: 15px;
    margin: 0px;
}
/*services ended*/
/*appointment started*/
.appointment
{
    text-align: center;
    background-color: aliceblue;
    margin-top: 60px;
    height: 100%;
}
.appointment hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.appointment p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.appointment-child
{
    margin: opx 100px;
    margin-bottom: 40px;
    justify-content: space-between;
}
.appointment-child input
{
    width: 410px;
    height: 40px;
    justify-content: space-around;
    margin: 0px 8px 25px 8px;
    border: 1px solid rgb(170, 170, 170);
    padding: 10px;
}
.appointment-child textarea
{
    width: 86%;
    border: 1px solid rgb(170, 170, 170);
    padding: 10px;
    margin-bottom: 30px;
}
.appointment-child a
{
    background: #3fbbc0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    text-decoration: none;
}
.appointment-child a:hover
{
    background-color: #3fbcc0cc;
}
.appointment-child input:focus,.appointment-child textarea:focus
{
    border: 1px solid #3fbbc0;
    outline: none;
}
/*appointment ended*/
/*department started*/
.department
{
    background-color: white;
    height: 100%;
}
.department h1
{
    margin-top: 50px;
    text-align: center;
}
.department hr
{
    width: 55px;
    height: 4px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.department p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
    text-align: center;
}
.department-child
{
    display: flex;
    margin: 0px 100px;
}
.department-left
{
    margin: 20px 40px 0px 0px;
    width: 370px;
}
.department-left h3
{
    color: #2f2f2f;
}
.department-left a
{
    text-decoration: none;
    transition: all 0.4s;
}
.department-left p
{
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 15px;
    height: 80px;
}
.pediatrics1
{
    display: flex;
    margin-top: 20px;
}
.pediatrics h2
{
    color: #3fbbc0;
}
.pediatrics p
{
    margin: 20px 0px;
    text-align: left;
}
.pediatrics-image img
{
    height: 250px;
    width: 300px;
    margin-right: 20px;
}
.pediatrics-content
{
    width: 560px;
}
.department-left a:hover h3
{
    color: #3fbbc0;   
}
.department-left a:hover p,.department-left a:hover h3
{
    background-color: rgba(250, 245, 245, 0.911);
    border-left: 4px solid #3fbbc0;
}
/*department ended*/
/*testimonial started*/
.testimonial
{
   margin-top: 30px; 
}
.testimonial .h1
{
    text-align: center;
}
.testimonial hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.testimonial .p1
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.testimonial-child
{
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
}
.person
{
    height: 400px;
    width: 400px; 
}
.person .per
{
    background-color: rgba(217, 255, 255, 0.664);
}
.person .per p
{
    font-size: 17px;
    color: gray;  
    font-style: italic; 
    padding: 20px 20px 100px 20px;
}
.person .per i
{
    color: rgba(151, 255, 246, 0.932);
}
.testimonial img
{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    outline: 5px solid white;
}
.person .img p
{
    font-size: 15px;
    color: gray;
}
.person .img
{
    position: absolute;
    margin-top: -65px;
    padding: 20px;
}
.person .per
{
    position: relative;
}
/*testimonial ended*/
/*doctor started*/
.doctor
{
  background-color: rgba(240, 248, 255, 0.692);  
  text-align: center;
}
.doctor hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.doctor p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.doctor-child
{
    margin: 0px 100px 60px 100px;
    display: flex;
    justify-content: space-around;
}
.doctor-box
{
    background-color: white;
    width: 300px;
}
.doctor-box img
{
    height: 300px;
    width: 300px;
    position: relative;
    margin-bottom: 20px;
}
.doctor-box .para
{
    position: absolute;
    margin-top: -82px;
    width: 300px;
    background-color: rgba(243, 242, 242, 0.788);
    visibility: hidden;
    transition: all 0.4s;
}
.doctor-box .para i
{   
    font-size: 20px;
    color: #2f2f2f;
    margin: 20px;
}
.doctor-box p
{
    font-size: 14px;
    margin: 7px 0px 20px 0px;
}
.para i:hover
{
    color: #3fbbc0;
}
.doctor-box:hover .para
{
    visibility: visible;
}
/*doctor ended*/
/*gallery started*/
.gallery
{
    margin-top: 80px;
    text-align: center;
}
.gallery p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;  
}
.gallery hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.gallery-child
{
    display: flex;
    margin: 80px 100px;
    justify-content: space-around;
}
.gallery-child img
{
    height: 170px;
    width: 230px;
}
/*gallery ended*/
/*price started*/
.price
{
    margin-top: 170px;
    text-align: center;
}
.price hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.price p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.price-child
{
    display: flex;
    margin: 0px 100px;
    justify-content: space-around;
}
.price-box
{
    width: 300px;
    height: 432px;
    position: relative;
    overflow: hidden;
}
.price-box p
{
    margin: 0;
}
.price-box .p1
{
    height: 60px;
    padding: 15px;
    background-color: rgb(233, 233, 233);
    color: #5e5e5e;
}
.price-box .busi .p1,.price-box .p1 .corner
{
    background-color: #3fbbc0;
    color: white;
}
.price-box .p1 .corner
{
    font-weight: 400;
    font-size: 13px;
    padding: 1px 35px 4px 30px;
    margin-left: 47px;
    border-radius: 200px 0px 0px 0px;
    margin-top: -33px;
    transform-origin: 0 0;
    transform: rotate(45deg);
    position: absolute;
}
.price-box .p2
{
    font-size: 38px;
    color: #3fbbc0;
    font-weight: 700;
    background-color: white;
    height: 70px;
}
.price-box .p2 sup
{
    font-size: 20px;
    color: #3fbbc0;
    font-weight: 700;
}
.price-box .p2 sub
{
    color: rgb(182, 182, 182);
    font-size: 17px;
    font-weight: 400;
}
.price-box .p3 del
{
    color: grey;
}
.price-box .p3
{
    font-size: 15px;
    color: #464646;
    line-height: 35px;
    background-color: white;
}
.price-box a
{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #3fbbc0;
    padding: 8px 28px;
    border-radius: 4px;
    line-height: 30px;
}
.price-box .p4
{
    height: 80px;
    padding: 15px;
    background-color: rgb(233, 233, 233);
}
.price-box .p41
{
    margin-top: -54px;
}
.price-box a:hover
{
    background-color: #3fbcc0bd;
}
/*price ended*/
/*questions started*/
.question
{
    background-color: #f9ffff;
    margin-top: 50px;
}
.question h1
{
    margin-top: 40px;
}
.question h1,.question p
{
    text-align: center;
}
.question .hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.question p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.question-child
{
    margin: 0px 100px;
    margin-bottom: 35px;
}
.question-child hr
{
    background-color: #c1fdff;
}
.question a
{
    text-decoration: none;
    color: rgb(49, 49, 49);
    transition: all 0.4s;
}
.question-child summary
{
    font-size: 20px;
}
.question-child details
{
    font-size: 17px;
}
.question a:hover
{
    color: #3fbbc0;
}
/*questions ended*/
/*contact started*/
.contact
{
    text-align: center;
}
.contact h1
{
    margin-top: 40px;
}
.contact hr
{
    width: 55px;
    height: 3px;
    background-color: #3fbbc0;
    border: none;
    margin: 20px 0px 20px 720px;
}
.contact p
{
    font-size: 17px;
    color: gray;
    margin: 0px 100px 25px 100px;
}
.contact iframe
{
    margin: 10px 0px 50px 0px;
    width: 100%;
    height: 340px;
}
/*contact ended*/
/*message started*/
.message
{
    text-align: center;
}
.message-child
{
    display: flex;
    margin: 0px 100px 40px 100px;
}
.child-left
{
    width: 50%;
    margin-right: 15px;
}
.child-left i
{
    font-size: 32px;
    color: #3fbbc0;
    border-radius: 100%;
    padding: 8px;
    border: 2px dotted #c5ebec;
}
.child-left h2
{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}
.child-left p
{
    line-height: 24px;
    font-size: 15px;
}
.child-left1
{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.child-left .loc,.child-left1 .email,.child-left1 .phone
{
    padding: 20px 0px;
    background-color: white;
}
.child-left1 .email
{
    margin-right: 13px;
    width: 50%;
}
.child-left1 .phone
{
    margin-left: 13px;
    width: 50%;
}
.child-right
{
    width: 50%;
    margin-left: 15px;
    background-color: white;
    height: 100%;
}
.child-right .inp1,.child-right .inp2
{
    margin: 30px 10px 30px 20px;
}
.child-right .inp2
{
    margin: 30px 20px 30px 10px;
}
.child-right .inp1,.child-right .inp2
{
    width: 285px;
}
.child-right .inp1,.child-right .inp2,.child-right .inp3
{
    height: 40px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}
.child-right .inp3
{
    width: 596px;
    margin: 0px 20px;
}
.child-right textarea
{
    width: 596px;
    margin: 20px;
    padding: 10px;
}
.child-right a
{
    background-color: #3fbbc0;
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
.child-right a:hover
{
    background-color: #3fbcc0be;
}
.child-right input:focus,.child-right textarea:focus
{
    border: 1px solid #3fbbc0;
    outline: none;
}
/*message ended*/
/*subscribe started*/
.subscribe
{
    background-color: #ececec;
    text-align: left;
}
.subscribe-child
{
    display: flex;
    margin: 40px 100px 30px 100px;
    justify-content: space-around;
}
.subscribe h2,.subscribe h3
{
    color: #464646;
    font-weight: 500;
}
.subscribe-child .one
{
    margin-left: -50px;
}
.subscribe-child .four
{
    margin-right: -50px;
}
.subscribe-child .one p
{
    margin: 20px 0px;
    color: grey;
    font-size: 15px;
}
.subscribe-child .one i
{
    height: 36px;
    width: 36px;
    background-color: #3fbbc0;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0px 5px 20px 0px;
    padding: 10px;
    border-radius: 4px;
    transition: 0.4s;
}
.subscribe-child .two a,.subscribe-child .three a
{
    line-height: 40px;
    text-decoration: none;
    color: grey;
    transition: 0.4s;
    font-size: 15px;
}
.subscribe-child .four a
{
    text-decoration: none;
    background-color: #3fbbc0;
    padding: 8px 30px;
    color: white;
    border-radius: 0px 4px 4px 0px;
}
.subscribe-child .four input
{
    width: 300px;
    height: 30px;
    outline: 5px solid white;
    border: none;
    border-radius: 4px 0px 0px 4px;
}
.subscribe-child .four input:focus
{
    border: 2px solid black;
    border-radius: 4px;
}
.subscribe-child .one i:hover
{
    color: #3fbcc0c4;
    background-color: white;
}
.subscribe-child .two a:hover,.subscribe-child .three a:hover
{
    color: #3fbbc0;
}
.subscribe-child .four a:hover
{
    background-color: #3fbcc0c2;
}
/*subscribe ended*/
/*footer started*/
.footer
{
    text-align: center;
    background-color: rgb(226, 226, 226);
}
.footer p
{
    margin: 10px;
}
.footer a
{
    text-decoration: none;
    color: #3fbbc0;
}
/*footer ended*/