*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/* banner strats*/
.banner-main
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.753)),url(./back.webp);
    background-size: 100% 100%;
    height: 750px;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.banner
{
    text-align: center;
}
.banner .h1
{
    font-size: 90px;
    font-family: Segoe Script;
    font-weight: bold;
}
.banner .h2
{
    font-size: 40px;
}
.banner .para1
{
    font-size: 35px;
    font-weight: 300;
    margin-top: 10px;
}
.banner .btn1,.banner .btn2
{
    height: 45px;
    width: 145px;
    margin-top: 50px;
    font-size: 16px;
    color: white;
    transition: background-color .7s,border 0.7s;
}
.banner .btn1
{
    margin-right: 20px;
    background-color: rgba(0, 204, 255, 0.966);
    border: none;
}
.banner .btn2
{
    background-color: transparent;
    border: 2px solid white;
}
.banner .btn1:hover
{
    background-color: transparent;
    border: 2px solid white;  
}
.banner .btn2:hover
{
    background-color: rgba(0, 204, 255, 0.966);
    border: none;
}
/* banner ends*/
/*navigation bar started*/
nav
{
    background-color: rgba(0, 0, 0, 0.959);
    width: 100%;
    height: 75px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}
nav ul li
{
    display: inline;
    margin-left: 25px;
}
nav a
{
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
nav a:hover
{
    color: rgba(0, 204, 255, 0.966);
}
nav ul
{
    display: inline;
}
.navlogo
{
    font-family: Segoe Script;
    font-size: 40px;
    margin-left: 100px;
    margin-right: 400px;
}
/*navigation bar ends*/
/*about us started*/
.aboutus
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutus .aboutus-h1
{
    margin-top: 90px;
}
.aboutus hr
{
    width: 50px;
    height: 4px;
    margin-left: 720px;
    margin-top: 20px;
    background-color: rgba(0, 204, 255, 0.966);
    border: none;
}
.aboutus .aboutus-para,.aboutus .aboutus-h1
{
    text-align: center;
}
.aboutus-child
{
    display: flex;
    margin: 45px 90px 90px 90px;
}
.aboutus-img img
{
    margin-right: 20px;
    height:430px
}
.aboutus p
{
    font-size: 17px;
    color: rgba(128, 128, 128, 0.897);
}
.aboutus h1
{
    font-weight: 600;
}
/*about us ended*/
/*services stared*/
.services
{
    display: flex;
    flex-direction: column;
    margin: 60px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.938),rgba(255, 255, 255, 0.938)),url(./back.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: center;
}
.services-h h1,.services-h p
{
    text-align: center;
}
.services-h p
{
    margin-top: 20px;
}
.services h1, .services h2
{
    font-weight: 600;  
}
.services hr
{
    width: 50px;
    height: 4px;
    margin-top: 20px;
    margin-left: 660px;
    background-color: rgba(0, 204, 255, 0.966);
    border: none;    
}
.services p
{
    font-size: 17px;
    color: rgba(128, 128, 128, 0.897);
}
.services-child1,.services-child2
{
    display: flex;
    margin-top: 40px;
}
.services .th
{
    display: flex;
    margin: 20px;
}
.th:hover .icon i
{
    background-color: transparent;
    border: 1px solid rgba(0, 204, 255, 0.966);
    color: rgba(0, 204, 255, 0.966);
}
.services .icon i
{
    background-color: rgba(0, 204, 255, 0.966);
    border: 1px solid rgba(0, 204, 255, 0.966);
    padding: 21px;
    border-radius: 100%;
    font-size: 25px;
    color: white;
    transition: all 0.6s;
}
.services .icon
{
    height: 100px;
    width: 100px;
    margin: 0px 10px;
    margin-top: 6px;
}
.services-child2 .text
{
    height: 100px;
    width: 100%;
}
.services-child1 .th1
{
    width: 69%;
    margin-right: 2px;
}
.services-child1 .th2
{
    width: 72%;
}
.services-child2
{
    margin-bottom: 20px;
}
/*services ended*/
/*subscribe starts*/
.subscribe
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.432),rgba(0, 0, 0, 0.384)),url(./back.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 270px;
    display: flex;
}
.subscribe-btn button,.subscribe
{
    color: white;
    margin-top: 110px;
}
.subscribe-info
{
    margin: 80px;
    margin-right: 200px;
}
.subscribe-btn button
{
    justify-content: center;
    background-color: transparent;
    border: 2px solid white;
    font-size: 20px;
    padding: 5px 15px;
    transition: all 0.6s;
    border-radius: 2px;
}
.subscribe-btn button:hover
{
    background-color: rgba(0, 204, 255, 0.966);
    border: 2px solid rgba(0, 204, 255, 0.966);
}
/*subscribe ends*/
/*portfolio started*/
.portfolio
{
    margin: 65px;
}
.portfolio h1,.portfolio p,.portfolio-anchor,hr
{
    text-align: center;
    margin-bottom: 30px;
}
.portfolio-anchor a
{
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.562);
    font-weight: 650;
    font-size: 14px;
    transition: all 0.6s;
}
.portfolio-anchor a:hover
{
    color: rgba(0, 204, 255, 0.966);
}
.portfolio p
{
    font-size: 17px;
    color: rgba(128, 128, 128, 0.897);
}
.portfolio hr
{
    width: 50px;
    height: 4px;
    background-color: rgba(0, 204, 255, 0.966);
    border: none; 
    margin-left: 660px;
}
.portfolio h1
{
    font-weight: 600;
}
.portfolio-child
{
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
}
.portfolio-child .image
{
    position: relative;
}
.portfolio-child .text
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 15px;
    visibility: hidden;
    transition: all 0.6s;
}
.portfolio-child .text,.portfolio .image img
{
    width: 415px;
    margin-left: 25px;
}
.portfolio .image img
{ 
    height: 310px;
    margin-top: 28px;
}
.portfolio .image i
{
    margin-left: 50px;
    transition: all 0.6s;
}
.portfolio .image i:hover
{
    color: rgba(0, 204, 255, 0.966);
}
.portfolio .image:hover .text
{
    visibility: visible;
}
/*portfolio ended*/
/*testimonials started*/
.testimonials
{
    background-color: rgba(211, 211, 211, 0.479);
}
.testimonials h1,p,hr
{
    text-align: center;
}
.testimonials i
{
    font-size: 30px;
    color: rgba(0, 247, 255, 0.315);
}
.testimonials h1
{
    margin-top: 50px;
    font-weight: 600;
}
.testimonials hr
{
    border: none;
    height: 4px;
    width: 50px;
    margin-top: 25px;
    background-color: rgba(0, 204, 255, 0.966);
    margin-left: 720px;
}
.testimonials p
{
    margin-top: -10px;
    font-size: 17px;
    color: rgba(128, 128, 128, 0.61);
}
.testimonials-child
{
    margin: 90px;
    flex-direction: column;
}
.testimonials-child .saul,.testimonials-child
{
    display: flex;
}
.testimonials-child .saul img,.testimonials-child .sara img
{
    border-radius: 100%;
    height: 250px;
    width: 250px;
    outline: 6px solid white;
}
.testimonials-child .sara
{
    display: flex;
}
.testimonials-child .saul p
{
    margin-left: 80px;
}
.testimonials-child .sara p,.testimonials-child .saul p
{
    height: 150px;
    width: 100%;
    background-color: white;
    margin-right: 80px;
    padding: 50px;
    margin-top: 40px;
    border-radius: 5px;
}
.saraname
{   
    text-align: right;
    margin: 10px 40px 50px 0px;
}
.saraname h4
{
    margin-right: 30px;
}
.saulname h4
{
    margin-left: 35px;
}
.saulname
{
   margin-top: 10px;
   margin-left: 40px;
}
.testimonials h2
{
    color: rgba(0, 204, 255, 0.966);
}
.testimonials h4
{
    font-weight: 600;
    color: rgba(128, 128, 128, 0.897);
}
/*testimonials ended*/
/*our team started*/
.ourteam h1,p,hr
{
    text-align: center;
}
.ourteam p,.teamnames i
{
   color: rgba(128, 128, 128, 0.897);
   font-size: 17px;
}
.ourteam h1
{
    font-weight: 600;
}
.ourteam hr
{
    border: none;
    height: 4px;
    width: 50px;
    margin-top: 25px;
    background-color: rgba(0, 204, 255, 0.966);
    margin-left: 720px;
}
.ourteam-child
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 90px;
}
.ourteam img
{
    height: 280px;
    width: 300px;
}
.ourteam img,.teamnames
{
    width: 300px;
}
.teamnames,.ourteam img,.teamnames i
{
    margin: 12px;
    transition: color 0.6s;
}
.ourteam .teamnames
{
    width: 300px;
    margin-bottom: 50px;
}
.teamnames i:hover
{
    color: rgba(0, 204, 255, 0.966);
}
/*our team ended*/
/*contact us started*/
.contactus
{
    background-color: rgba(211, 211, 211, 0.342);
}
.contactus h1,p,hr
{
    text-align: center;
}
.contactus h1
{
    font-weight: 600;
}
.contactus hr
{
    border: none;
    height: 4px;
    width: 50px;
    margin-top: 25px;
    background-color: rgba(0, 204, 255, 0.966);
    margin-left: 720px;
}
.contactus p
{
    margin-top: -10px;  
    color: rgba(128, 128, 128, 0.61);
    margin-bottom: 40px;
}
.youraddress button,.contactus p,.youraddress input,.youraddress textarea
{
    font-size: 17px;
}
.contactus-child
{
    display: flex;
    margin: 0px 320px;
    justify-content: space-between;
}
.symbols
{
    font-size: 30px;
    text-align: left;
    color: rgba(0, 204, 255, 0.966);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.ouraddress p
{
    height: 30px;
    width: 230px;
    text-align: left;
}
.ouraddress p,.youraddress input,.youraddress textarea,.youraddress button
{
    margin-top: 15px;
}
.youraddress input,.youraddress textarea
{
    height: 40px;
    width: 530px;
    padding: 10px;
    border: 1px solid lightgrey;
    outline: none;
}
.youraddress input:focus,.youraddress textarea:focus
{
    border: 1px solid rgba(0, 204, 255, 0.966);
}
.youraddress textarea
{
    height: 150px;
}
.youraddress button
{
    margin-bottom: 120px;
    height: 45px;
    width: 160px;
    background-color: rgba(0, 204, 255, 0.966);
    border: none;
    color: white;
    margin-left: 180px;
}
.youraddress button:hover
{
  background-color: rgba(0, 204, 255, 0.726);
}
/*contact us ended*/
/*footer stARTED*/
.footer
{
    background-color: black;
    height: 110px;
}
.footer p
{
    color: white;
}
.footer-child .para
{
    padding-top: 30px;
}
.footer a
{
    color: rgba(0, 204, 255, 0.966);
    text-decoration: none;
}
/*footer ended*/