*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*aboutus started*/
.aboutus
{
    text-align: center;
    width: 100%;
}
.aboutus h1
{
    margin-top: 15px;
}
.aboutus h1,.aboutus p,.aboutus-child .content h2,b
{
    color: #444444;
}
.aboutus hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.aboutus p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.aboutus-child
{
    display: flex;
    margin: 0px 90px;
    text-align: left;
}
.aboutus-child img
{
    height: 419px;
    width: 419px;
    margin-right: 25px;
}
.aboutus-child .content p
{
    margin-left: 0px;
    font-size: 16px;
}
.aboutus-child .content h2
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.aboutus-child .details
{
    display: flex;
    height: 180px;
    margin-top: -10px;
}
.aboutus-child .details .right
{
    margin-left: 130px;
}
/*aboutus ended*/
/*skills started*/
.skills
{
    text-align: center;
    margin-top: 60px;
}
.skills h1,.skills hr,.skills p
{
    color: #444444;
}
.skills h1
{
    margin-top: 15px;
}
.skills hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.skills p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.skills-child
{
    display: flex;
    text-align: left;
    margin: 0px 90px 90px 90px;
    width: 100%;
    line-height: 45px;
}
.skills-child hr
{
    margin: 0px;
    height: 10px;
}
.skills-child .javah
{
    width: 100%;
}
.skills-child .java b
{
    margin-left: 566px;
}
.skills-child .cssh
{
    width: 90%;
}
.extcss,.extphp,.extphoto,.extjs,.extcms
{
    display: flex;
}
.extcss p,.extphp p,.extphoto p,.extjs p,.extcms p
{
    background-color: #f3f3f3;
    height: 10px;
    margin: 0;
}
.skills-child .extcss p,.extcms p
{
    width: 10%;
}
.extjs p
{
    width: 25%;
}
.extphp p
{
    width: 20%;
}
.extphoto p
{
    width: 45%;
}
.skills-child .css b
{
    margin-left: 582px; 
}
.skills-child .jsh
{
    width: 75%;
}
.skills-child .js b
{
    margin-left: 529px;
}
.skills-child .phph
{
    width: 80%;
}
.skills-child .php b
{
    margin-left: 579px;
}
.skills-child .cmsh
{
    width: 90%;
}
.skills-child .cms b
{
    margin-left: 492px;
}
.skills-child .photoh
{
    width: 55%;
}
.skills-child .photo b
{
    margin-left: 524px;
}
.skills-child .left
{
    width: 640px;
    margin-right: 20px;
}
.skills-child .right
{
    width: 640px;
}
/*skills ended*/
/*facts strated*/
.facts
{
    text-align: center;
    width: 100%;
}
.facts h1,.facts hr,.facts p
{
    color: #444444;
}
.facts hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.facts p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.facts-child
{
    display: flex;
    margin: 0px 90px 90px 90px;
    justify-content: space-around;
}
.facts-child p
{
    font-size: 15px;
}
.facts-child h1
{
    font-size: 50px;
    font-weight: 400;
    color: #34b7a7;
}
.facts-child .box
{
    width: 300px;
}
/*facts ended*/
/*testimonials started*/
.testimonials
{
    text-align: center;
    margin-bottom: 87px;
    width: 100%;
}
.testimonials h1
{
    font-weight: 600;
}
.testimonials hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.testimonials p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.testimonials p,.testimonials hr,.testimonials h1
{
    color: #444444;
}
.testimonials img
{
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
}    
/*testimonial ended*/