*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*banner started*/
.banner
{
    background-image: url(./home-bg.jpg);
    background-size: 100% 100%;
    height: 720px;
    background-attachment: fixed;
    text-align: center;
}
.banner-child
{
    margin: 220px 0px 0px 460px;
    position: absolute;
    width: 600px;
}
.banner-child h1
{
    font-size: 50px;
}
.banner-child p
{
    font-size: 25px;
    color: gray;
    margin: 10px 0px 35px 0px;
}
.banner-child a
{
    text-decoration: none;
    background-color: #34b7a7;
    color: white;
    padding: 12px 35px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}
.banner-child a:hover
{
    background-color: #34b7a8cc; 
}
/*banner ended*/
