*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*contact started*/
.contact
{
    text-align: center;
}
.contact h1
{
    margin-top: 15px;
}
.contact h1,.contact p
{
    color: #444444;
}
.contact hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.contact p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.contact .frame
{
    margin: 0px 90px;
}
.contact iframe
{
    width: 100%;
    height: 270px;
}
.contact-child
{
    display: flex;
    margin: 50px 90px 50px 90px;
    text-align: left;
}
.contact-child p
{
    margin: 0;
}
.contact-child .icons
{
    width: 60px;
}
.contact-child .icons i
{
    background: #e5fffc;
    color: #34b7a7;
    font-size: 20px;
    height: 40px;
    width: 45px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 100%;
    transition: all 0.5s;
}
.contact-child .address
{
    width: 430px;
    color: #444444;
}
.contact-child .address p
{
    margin-bottom: 35px;
    font-size: 15px;
}
.contact-child .input
{
    width: 1000px;
    text-align: center;
}
.contact-child input
{
    margin-bottom: 25px;
    padding: 15px;
    font-size: 15px;
    border: 1px solid grey;
}
.contact-child .inp1
{
    margin-right: 25px;
}
.contact-child .inp1,.contact-child .inp2,.contact-child .inp3
{
    height: 43px;
    width: 420px;
    border-radius: 4px;
}
.contact-child .inp3,.contact-child textarea
{
    width: 867px;
}
.contact-child textarea
{
    border: 1px solid grey;
    margin-bottom: 30px;
    border-radius: 4px;
}
.contact-child .input a
{
    text-decoration: none;
    background-color: #34b7a7;
    padding: 12px 33px;
    border-radius: 30px;
    color: white;
}
.contact-child .icons i:hover 
{
    color: white;
    background-color: #34b7a7;
}
.contact-child input:focus,.contact-child textarea:focus
{
    border-color: #34b7a7;
    outline: none;
}
.contact-child .input a:hover
{
    background-color: #34b7a8c2;
}
/*contact ended*/