*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*footer started*/
.footer
{
    text-align: center;
    background-color: rgb(236, 235, 235);
}
.footer p
{
    margin: 10px;
}
.footer a
{
    text-decoration: none;
    color: #3fbbc0;
}
/*footer ended*/