*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*navigation started*/
.navigation
{
    background: #f1f1f0;
    z-index: 1;
    display: flex;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0px;
}
.navigation a
{
    text-decoration: none;
}
.navigation h1
{
    font-weight: 10;
    margin-left: 15px;
    text-align: center;
    margin-top: 15px;
}
.navigation .pages
{
    margin-left: 405px;
    width: 550px;
}
.navigation .pages a
{
    margin-left: 25px;
    color: grey;
    font-size: 15px;
    font-weight: 500;
    transition: 0.4s;
}
.navigation .icons
{
    width: 135px;
    margin-left: 275px;
}
.navigation .icons i
{
    font-size: 17px;
    margin-top: 27px;
    margin-left: 7px;
    color: #6f6f6f;
    transition: 0.4s;
}
.navigation .pages a:hover
{
    border-bottom: 3px solid #34b7a7;
    color: #3d3d3d;
}
.navigation .icons i:hover
{
    color: #34b7a7;
}
/*navigation ended*/