*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*portfolio started*/
.portfolio
{
    text-align: center;
}
.portfolio h1
{
    margin-top: 15px;
}
.portfolio h1,.portfolio p
{
    color: #444444;
}
.portfolio hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.portfolio p
{
    font-size: 17px;
    margin: 0px 90px 35px 90px;
}
.portfolio .head a
{
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 12px;
    color: grey;
    margin-right: 9px;
    transition: all 0.5s;
}
.portfolio-child
{
    display: flex;
    margin: 30px 90px 45px 90px;
    justify-content: space-between;
}
.portfolio-child .middle
{
    margin: 0px 25px;
}
.img420,.img6201,.img6202,.img233,.img2731,.img2732,.img2733,.img2734,.img2735
{
    width: 415px;
    overflow: hidden;
    margin-bottom: 25px;
}
.img420
{
    height: 420px;
}
.img6201,.img6202
{
    height: 620px;
}
.img233
{
    height: 233px;
}
.img2731,.img2732,.img2733,.img2734,.img2735
{
    height: 273px;
}
.portfolio .head a:hover
{
    background-color: #34b7a7;
    color: white;
}
.portfolio-child img
{
    transition: transform .5s ease;
    width: 415px;
}
.img420:hover img,.img6201:hover img,.img6202:hover img,.img233:hover img,.img2731:hover img,.img2732:hover img,.img2733:hover img,.img2734:hover img,.img2735:hover img
{
    transform: scale(1.25);
}
.portfolio-child h3
{
    font-size: 20px;
    font-weight: 600;
}
.portfolio-child a
{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.portfolio-child p
{
    text-align: left;
    color: white;
    margin: 0;
    line-height: 40px;
}
.info1,.info2,.info3,.info4,.info5,.info6,.info7,.info8,.info9
{
    width: 415px;
    background-color: rgba(5, 5, 5, 0.514);
    position: absolute;
    color: white;
    text-align: left;
    visibility: hidden;
}
.info1
{
    height: 420px;
    margin-top: -425px;
    padding: 300px 0px 0px 25px;
}
.info2,.info4
{
    height: 620px;
    margin-top: -623px;
    padding: 490px 0px 0px 25px;
}
.info3,.info5,.info7,.info8,.info9
{
    height: 273px;
    margin-top: -282px;
    padding: 150px 0px 0px 25px;
}
.info7
{
    margin-top: -278px;
}
.info8
{
    margin-top: -274px;
}
.info9
{
    margin-top: -280px;
}
.info6
{
    height: 233px;
    margin-top: -238px;
    padding: 110px 0px 0px 25px;
}
.portfolio-child a i:hover
{
    color: #34b7a7;
}
.img420:hover .info1,.img6201:hover .info2,.img2731:hover .info3,.img6202:hover .info4,.img2732:hover .info5,.img233:hover .info6,.img2733:hover .info7,.img2734:hover .info8,.img2735:hover .info9
{
    visibility: visible;
}
/*portfolio ended*/