*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*resume started*/
.resume
{
    text-align: center;
}
.resume h1
{
    margin-top: 15px;
}
.resume h1,.resume p
{
    color: #444444;
}
.resume hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.resume p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.resume-child
{
    display: flex;
    text-align: left;
    margin: 0px 90px 50px 90px;
}
.resume-child p
{
    text-align: left;
    margin: 0px;
}
.resume-child .alice,.resume-child .education,.resume-child .senior,.resume-child .graphic
{
    border-left: 2px solid #34b7a7;
    padding-left: 20px;
    position: relative;
}
.alice .round,.master .round,.bachelor .round,.senior .round,.graphic .round
{
    border: 2px solid #34b7a7;
    padding: 7px;
    border-radius: 50%;
    position: absolute;
    margin-left: -30px;
    background-color: white;
}
.resume-child .bachelor h3
{
    margin-top: 20px;
}
.resume-child ul,li
{
    margin-left: 10px;
    padding-bottom: 10px;
}
.resume-child ul
{
    margin-top: 20px;
}
.resume-child .left
{
   width: 50%; 
   margin-right: 5px;
}
.resume-child .right
{
    width: 50%; 
    margin-left: 5px;
}
.resume-child h3
{
    color: #1d685f;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
}
.resume-child h2
{
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
}
.resume-child i
{
    padding-bottom: 20px;
}
.resume-child .year
{
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
}
/*resume ended*/