*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    /*overflow-x: hidden;*/
}
/*services started*/
.services
{
    text-align: center;background-color: rgb(248, 248, 248);
}
.services h1
{
    margin-top: 15px;
}
.services h1,.services p
{
    color: #444444;
}
.services hr
{
    width: 55px;
    height: 3px;
    background-color: #34b7a7;
    border: none;
    margin: 20px 0px 20px 715px;
}
.services p
{
    font-size: 17px;
    margin: 0px 90px 30px 90px;
}
.services-child
{
    display: flex;
    margin: 0px 90px 20px 90px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services-child .box
{
    width: 420px;
    height: 350px;
    margin-bottom: 20px;
    background-color: white;
}
.services-child .box h2
{
    margin-top: 10px;
    font-weight: 600;
}
.services-child .box p
{
    margin: 15px 10px;
    font-size: 15px;
}
.services-child .box i
{
  font-size: 27px;
  background-color: rgb(233, 233, 233); 
  height: 80px;
  width: 80px; 
  padding-top: 26px;
  margin-top: 80px;
  border-radius: 23% 89% 31% 59%;
}
.fa-basketball-ball
{
    color: #47aeff;
}
.fa-file-alt
{
    color: #ffa76e;
}
.fa-tachometer
{
    color: #e80368;
}
.fa-layer-group
{
    color: #ffbb2c;
}
.fa-tv
{
    color: #ff5828;
}
.fa-archway
{
    color: #11dbcf
}
.fa-basketball-ball,.fa-archway,.fa-tv,.fa-layer-group,.fa-tachometer,.fa-file-alt
{
    transition: all 0.5s;
}
.services-child .box:hover i
{
    color: white;
}
.services-child .box:hover .fa-basketball-ball
{
    background-color: #47aeff;
}
.services-child .box:hover .fa-file-alt
{
    background-color: #ffa76e;
}
.services-child .box:hover .fa-tachometer
{
    background-color: #e80368;
}
.services-child .box:hover .fa-layer-group
{
    background-color: #ffbb2c;
}
.services-child .box:hover .fa-tv
{
    background-color: #ff5828;
}
.services-child .box:hover .fa-archway
{
    background-color: #11dbcf
}
/*services ended*/